.header-left .header-search form {
    max-width: 270px;
    position: relative;
  }
  .header-left .header-search form input {
    width: 100%;
    border: 1px solid #efefef;
    background: rgba(239, 239, 239, 0.5);
    border-radius: 8px;
    padding: 10px 10px 10px 44px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .header-left .header-search form input:focus {
    border-color: #365CF5;
    background: #fff;
  }
  
   .header-left .header-search form button {
    position: absolute;
    border: none;
    background: transparent;
    left: 16px;
    top: 0;
    height: 46px;
    color: #5d657b;
    font-weight: 700;
  }
  
   .header-left .header-search form button i {
    margin-top: 7px;
  }