<div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <div class="d-flex  justify-content-between">
          <div>

<!--            <h6 class="mb-10" *ngIf="showTitle">Pull Transactions</h6>-->
<!--            <label *ngIf="showSearch">Search for a Consumer by Name</label>-->
            <h6 class="mb-10" *ngIf="showTitle">Pull Transactions</h6>

            <label *ngIf="showSearch">Search for a Transaction by Name</label>
            <app-searchbutton *ngIf="showSearch" (searchKey)="searchKeyEvent($event)"></app-searchbutton>
          </div>

         

          <!-- <app-searchbutton (searchKey)="searchKeyEvent($event)"></app-searchbutton> -->
        </div>


        <div class="table-wrapper table-responsive">
          <table class="table">
            <thead>
            <tr >

              <th>
                <h6 id="idA" style="cursor: pointer;" class="text-sm text-medium" (click)="sortByID()">
                  ID <i class="lni lni-arrows-vertical" ></i>
                </h6>
              </th>

              <th> <h6>Product</h6> </th>

              <th><h6>Consumer</h6></th>

              <th><h6>Report</h6></th>

              <th>
                <h6 id="QtyA" style="cursor: pointer;" class="text-sm text-medium" (click)="sortByQuantity()">
                  Quantity <i class="lni lni-arrows-vertical" ></i>
                </h6>
              </th>

              <th>
                <h6>Status</h6>
              </th>

              <th>
                <h6 id="dateA" style="cursor: pointer;" class="text-sm text-medium" (click)="sortByDate()">
                  Date <i class="lni lni-arrows-vertical" ></i>
                </h6>
              </th>
<!-- 
              <th><h6>Action</h6></th> -->
            </tr>

            <!-- end table row-->
            </thead>
            <tbody>
            <tr *ngFor="let transaction of getLimitedtransactions(), let i = index">

              <td class="min-width">
                <p>{{transaction.id}}</p>
              </td>

              <td class="min-width">
                <p>{{transaction.item.name}}</p>
              </td>



              <td class="min-width">
                <p><a href="#0">{{transaction.consumer.name}}</a></p>
              </td>
              <!-- report -->
              <td class="min-width">
                <a *ngIf="transaction.patientReportLink != null" [href]="transaction.patientReportLink" target="_blank">Report</a>
              </td>
              <td class="min-width">
                <p>{{transaction.item.pullQuantity}}</p>
              </td>

              <td class="min-width">
                <span class="status-btn active-btn">{{transaction.transactionType}}</span>
              </td>

              <td class="min-width">
                <p>{{transaction.transactionDate}}</p>
              </td>


              <td>
                <div class="action">
<!--                  <button (click)="moveToRouteWithIndex('/transactions/pull-update',transaction.id)" class="edit">-->
<!--                    <i  class="lni lni-pencil"></i>-->
<!--                  </button>-->
               <button (click)="deleteTransaction(i,transaction.id, transaction.item.id, transaction.item.pullQuantity)" class="text-danger">
                    <i class="lni lni-trash-can"></i>
                  </button>
                </div>
                <p class="bg-danger-100" *ngIf="showWaitMessage && clickedRowIndex === i">wait...</p>
            <p class="bg-danger-100" *ngIf="clickedRowIndex === i">{{error}}</p>
              </td>




<!--              <td>-->
<!--                <button (click)="toggleDetails(i)" class="dropdown-toggle">-->
<!--                  <i [ngClass]="{ 'lni lni-chevron-down': !showDetails[i], 'lni lni-chevron-up': showDetails[i] }"></i>-->
<!--                </button>-->
<!--              </td>-->

              <!-- <td>
                <div class="action">

                  <button (click)="moveToRouteWithIndex('/transactions/pull-update',transaction.id)" class="edit">
                    <i  class="lni lni-pencil"></i>
                  </button>

               <button (click)="deleteTransaction(transaction[i].id)" class="text-danger">
                    <i class="lni lni-trash-can"></i>
                  </button>

                </div>
                <p class="bg-danger-100" *ngIf="showProgressBar && clickedRowIndex === i">wait...</p>
              </td> -->

            </tr>


<!--            <tr *ngFor="let transaction of getLimitedtransactions(), let i = index" [ngClass]="{ 'show-details': showDetails[i] }">-->
<!--              <td colspan="8">-->
<!--                &lt;!&ndash; Display additional items here &ndash;&gt;-->
<!--                <div *ngFor="let item of transaction.additionalItems">-->
<!--                  &lt;!&ndash; Display item details &ndash;&gt;-->
<!--                  <p>{{ item.name }}</p>-->
<!--                  &lt;!&ndash; ... (other item details) ... &ndash;&gt;-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->

            <a id="ViewAll" *ngIf="showAll && !showProgressBar" (click)="moveToRoute('/transactions/pull')">View All </a>
           <!-- end table row -->
            <!-- end table row -->
            </tbody>

            
       

          </table>

          <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>

          <app-paging (currentPageEvent)="currentPageNumberEvent($event)" *ngIf="showPaging" [data]="transactionsPull"
                      [lengthArray]="allTransactionPullCount"
                      (dataPerPage)="onDataPerPageReceived($event)">

                    </app-paging>

          <!-- end table -->
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->







