<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->

<!--  &lt;!&ndash; ========== All CSS files linkup ========= &ndash;&gt;-->

<!--</head>-->
<!--<body>-->
<!-- ======== Preloader =========== -->
<!--<div id="preloader">-->
<!--  <div class="spinner"></div>-->
<!--</div>-->
<!-- ======== Preloader =========== -->

<!-- ======== sidebar-nav start =========== -->
<!-- ======== sidebar-nav end =========== -->

<!-- ======== main-wrapper start =========== -->
  <!-- ========== section start ========== -->
  <app-loading *ngIf="done"></app-loading>
  <app-first-section item_active="Home"></app-first-section>
  <app-main-page></app-main-page>
  <!-- ========== section end ========== -->
