<div class="card-style mb-30">
  <div class="title d-flex flex-wrap justify-content-between align-items-center"></div>
  <!-- End Title -->
  <div class="table-responsive">
    <table class="table top-selling-table">
      <thead>
        <tr>
          <th></th>
          <th>
            <h6 class="text-sm text-medium">Name</h6>
          </th>
          <th class="min-width">
            <h6 class="text-sm text-medium">Phone Number</h6>
          </th>
          <th class="min-width">
            <h6 class="text-sm text-medium">Birth day</h6>
          </th>
          <th class="min-width">
            <h6 class="text-sm text-medium">Documents</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consumer of allConsumers; let i = index">
          <td>
            <div class="check-input-primary">
              <input 
                class="form-check-input" 
                type="checkbox" 
                [checked]="consumerSelectedId === consumer.id"
                (change)="selectConsumer(consumer.id)"
              />
            </div>
          </td>
          <td>
            <p class="text-sm">{{consumer.name}}</p>
          </td>
          <td>
            <p class="text-sm">{{consumer.phoneNumber}}</p>
          </td>
          <td>
            <p class="text-sm">{{consumer.birthdate}}</p>
          </td>
          <td>
            <a class="text-sm" [href]="consumer.documents" target="_blank">documents</a>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>

    
    <app-paging         
    *ngIf="showPagging" 

    [data]="allConsumers" 
    [lengthArray]="allconsumersLength" 

    (currentPageEvent)="currentPageEvent($event)"
     (dataPerPage)="onDataPerPageReceived($event)">

</app-paging> 

    <!-- End Table -->
  </div>
</div>
