<app-first-section [home]="true" item_active="All Medicine"></app-first-section>

<!-- <app-products-component [limit]="10" 
                        [showAllMed]="false"
                        [showDays]="false" 
                        [showPagging]="true">
</app-products-component> -->

<app-products-component         
            [showTitle]="false" 
            [showNotes]="true"             
            [showbtn]="false"
            [showActions]="true" 
            [showSearch]="true" 
            [showDays]="false" 
            [showPagging]="true"
            [showPic]="false" 
            [showPull]="true"
            [showActionBtn]="true"
            [showAddBtn]="false" 
            [showAllMed]="false"
            [showQtyinput]="true"
            [showQty]="true"
            [limit]="10" >
            
</app-products-component>